<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ProjectDbContext" connectionString="metadata=res://*/ProjectDbContext.csdl|res://*/ProjectDbContext.ssdl|res://*/ProjectDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.210.46.58;initial catalog=migros2014;persist security info=True;user id=migrosiphonedb;password=10203040;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="ProjectDbContext" connectionString="metadata=res://*/ProjectDbContext.csdl|res://*/ProjectDbContext.ssdl|res://*/ProjectDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.210.46.58;initial catalog=migros2014;persist security info=True;user id=migrosiphonedb;password=10203040;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>