@using MS.Core.Language;

@using MS.Web.Models.Others;
@Html.Partial("_ModalHeader", new ModalHeader { Title = Resource_tr_TR.ImageUpload })
<div class="modal-body">
    <div class="row">
        <div class="form-horizontal">
            <div  class="PhotosUpload" runat="server">
                @Resource_tr_TR.Clickheretoupload
            </div>
        </div>
    </div>
</div>

