@using MS.Core.Language;

@using MS.Web.Models.Others;
@Html.Partial("_ModalHeader", new ModalHeader { Title = Resource_tr_TR.PdfUpload })
<div class="modal-body">
    <div class="row">
        <div class="form-horizontal">
            <div  class="PdfUpload" runat="server">
                Pdf dosyasını seçiniz...
            </div>
        </div>
    </div>
</div>

