
@model MS.Web.Models.Others.Modal
<div class="modal fade @Model.ModalCSS" id="@Model.ID" tabindex="-1" role="dialog" aria-labelledby="@Model.AreaLabeledID" aria-hidden="true">
    <div class="modal-dialog @Model.ModalSizeCSS">
        <div class="modal-content">
        </div>
    </div>
</div>
