<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Domain" value="http://localhost:51509/" />
    <add key="Apikey" value="AIzaSyCbR9Eun9ZDIsOxTZm4CLb7XrFahkeYwMU" />
    <add key="DBImagePath" value="http://localhost:51509/uploads/" />
  <add key="CacheUrl" value="http://magaza-iphone.migros.com.tr/wsdb/garbagecollector.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1048576" />

        <globalization uiCulture="tr-TR" culture="tr-TR" />

  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff" />-->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="ProjectDbContext" connectionString="metadata=res://*/ProjectDbContext.csdl|res://*/ProjectDbContext.ssdl|res://*/ProjectDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.252;initial catalog=migros2014;persist security info=True;user id=usr_migros;password=migros909#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="ProjectDbContext" connectionString="metadata=res://*/ProjectDbContext.csdl|res://*/ProjectDbContext.ssdl|res://*/ProjectDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.210.46.58;initial catalog=migros2014;persist security info=True;user id=migrosiphonedb;password=10203040;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="migrosiphoneConnectionString" connectionString="Data Source=31.210.46.58;Initial Catalog=migros2014;Persist Security Info=True;User ID=migrosiphonedb;Password=10203040;Pooling=True;Connect Timeout=60" providerName="System.Data.SqlClient"/>
    -->
    
    <add name="migrosiphoneConnectionString" connectionString="Server=tcp:mobilapp-sqlsrv.database.windows.net,1433;Initial Catalog=mobilapp-prd-sqldb;Persist Security Info=False;User ID=Mobilapp.adm;Password=4NYnQ393GjFs;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=90;" providerName="System.Data.SqlClient" />
    <add name="ProjectDbContext" connectionString="metadata=res://*/ProjectDbContext.csdl|res://*/ProjectDbContext.ssdl|res://*/ProjectDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mobilapp-sqlsrv.database.windows.net,1433;initial catalog=mobilapp-prd-sqldb;persist security info=True;user id=Mobilapp.adm;Connection Timeout=90;password=4NYnQ393GjFs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>